@import '~vuetify/src/stylus/theme.styl'

$material-light.background = #f0f0f0
$body-font-family = 'Montserrat', sans-serif
.clickable {
	cursor: pointer
}
.font-xs {
	font-size: 10px;
}
//#e74c3c -error
@import '~vuetify/src/stylus/main.styl'
